body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8F1E6;
    font-family: 'Ovo', serif;
    margin: 0;
}


.container {
    display: flex;
    width: 1500px; 
    background: #F8F1E6;
    border-radius: 20px; 
    overflow: hidden;
    flex-direction: row;
    padding: 60px; 
}


.form-container {
    flex: 1;
    padding: 60px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%; 
}


h1 {
    color: #973131;
    font-size: 80px; 
    margin-bottom: 20px; 
    text-align: center;
    font-weight: 400;
}

h2 {
    font-size: 36px; 
    color: #973131;
    margin-bottom: 0px; 
    text-align: left;
    font-weight: lighter;
}

input[type="email"],
input[type="password"] {
    width: 100%; 
    max-width: 800px; 
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px; 
    border: 1px solid #D8B6A4; 
    border-radius: 10px; 
    background: #FDF7F2;
    font-size: 22px; 
    color: #57332E; 
}


input[type="email"]:focus,
input[type="password"]:focus {
    border: 1px solid #8B0000; 
    outline: none; 
}


input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: #7A4A42;
    font-size: 18px; 
}


input[type="submit"] {
    width: 100%; 
    max-width: 800px;
    padding: 15px; 
    background-color: #dbbcb7;
    color: #973131;
    border: 1px solid #973131; 
    border-radius: 10px; 
    font-size: 22px; 
    cursor: pointer;
    margin-top: 30px; 
}


input[type="submit"]:hover {
    background-color: #b27f73; 
}

input[type="submit"]:hover {
    background-color: #973131;
    color: white;
}



.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 20px; 
    max-width: 600px; 
}




.cashier {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.cashier h3 {
    margin: 0;
    cursor: pointer;
}

.cashier img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
    cursor: pointer;
}

/* Hidden by default */
.logout-menu {
    display: none;  /* <-- This makes sure it's hidden on page load */
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    border-radius: 8px;
    z-index: 10;
}


.logout-menu a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease;
}

.logout-menu a:hover {
    color: red !important;
}

