@import '../var';
@import '../maps/color_map';

@each $key, $val in $colors
{
    .btn-type-#{$key} 
    {
        font-family: $fn-secondary;
        color: $val;
        background: if($key == 'primary', transparentize(map-get($colors, 'secondary'), $amount: 0.7), transparentize(map-get($colors, 'primary'), $amount: 0.7));

        font-weight: 500;
        display: inline-block;
        padding: .3em 1em;

        border: $val solid 2px;
        border-radius: .5em;
        
        text-decoration: none;

        transition: $df-transition;
    }

    .btn-type-#{$key}:hover
    {
        background: $val;
        color: if($key == 'primary', map-get($colors, 'secondary'), map-get($colors, 'primary'));
    }

    .btn-type-#{$key}:active
    {
        background: transparentize($val, $amount: 0.5);
    }
}