@use 'sass:math' as m;

// colors
$clr-primary: hsl(47, 77%, 83%);
$clr-secondary: hsl(0, 51%, 39%);

// fonts
$fn-primary: 'Playfair Display', serif;
$fn-secondary: 'Poppins', serif;

$base-fn: .6em;
$fn-sm: m.div($base-fn, .5);
$fn-md: $fn-sm * 1.5;
$fn-lg: $fn-md * 1.5;
$fn-xl: $fn-lg * 1.5;

// spacing
$spc-xsm: .4em;

// transition
$df-transition: .16s ease-in;