
// colors
$clr-primary: hsl(47, 77%, 83%);
$clr-secondary: hsl(0, 51%, 39%);

// fonts
$fnt-primary: 'Playfair Display', serif;
$fnt-secondary: 'Poppins', serif;

// spacing
$spc-xsm: .4em;
$spc-sm: .4em;
$spc-md: .4em;
$spc-lg: .4em;
$spc-xlg: .4em;


// transition
$df-transition: .16s ease-in;