.dashboard {
    padding: 40px 60px;
}

.dashboard-title {
    font-size: 36px;
    font-weight: 700;
    color: #982e30;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.dashboard-cards {
    display: flex;
    gap: 70px;
    min-width: 500px; 
}



.card {
    display: flex;
    align-items: center; /* Vertically align items in the center */
    justify-content: flex-start; /* Align items to the left */
    background-color: #f4ebd4 !important;
    padding: 20px 30px;
    border-radius: 25px;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.1);
    min-width: 350px;  /* Adjusted min-width */
    max-width: 500px;  /* Adjusted max-width */
    flex-grow: 1;  /* Allow the cards to grow and occupy available space */
}

.card-left {
    display: flex;
    align-items: center;  /* Ensure the icon and label are horizontally aligned */
    margin-right: 20px;  /* Space between icon/label and value */
}

.card-icon {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.card-label {
    font-size: 20px;
    font-weight: 600;
    color: #111;
    font-family: 'Poppins', sans-serif;
}

.card-value {
    font-size: 26px;
    font-weight: 700;
    color: #111;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;  /* Optional: to add spacing between label and value */
}
