.product-page {
    padding: 40px 60px;
    font-family: "Poppins", sans-serif;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.section-title {
    font-size: 2.5rem;
    color: #9b3c3c;
    font-weight: 700;
}

.add-product-btn {
    background-color: #9bf99c;
    color: #1a1a1a;
    font-weight: 530;
    border: none;
    border-radius: 30px;
    padding: 12px 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    text-decoration: none;
}

.add-product-btn span {
    font-size: 1.7rem;
    margin-right: 8px;
}

.add-product-btn:hover {
    background-color: #7ddc81; /* slightly darker green */
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-table {
    color: #9b3c3c;
    width: 100%;
    border-collapse: separate; /* Ensures no gaps between rows */
    text-align: left;
}

.product-table thead {
    border-radius: 20px 20px 0 0; /* Rounded corners for the header */
    background: #f7ecd3;
    overflow: hidden;
}
.product-table thead tr {
    cursor: pointer; /* Changes cursor to indicate it's clickable */
    border-bottom: 2px solid #9b3c3c; /* Adds a thicker red border */
}
.product-table thead tr th:last-child {
    text-align: end;
}

.product-table thead th {
    padding: 20px 2em;
    font-size: 1.1rem;
    position: relative; /* Helps with border rendering */
}
.product-table thead th:first-child {
    border-top-left-radius: 20px; /* Round first header corner */
}
.product-table thead th:last-child {
    border-top-right-radius: 20px; /* Round last header corner */
    text-align: end;
    padding: 20px 1em 1em 0;
}

.product-table tbody tr {
    background: #fdf6f0; /* Light background for rows */
    border-bottom: 1px solid #e2b8a0; /* Subtle border between rows */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}
.product-table tbody tr:hover {
    background: #f7ecd3; /* Light background on hover */
}
.product-table tbody tr td{
    padding: 20px 2em;
}
.product-table tbody tr td:last-child {
    text-align: end;
}
.product-table tbody tr td:last-child .action-btn {
    padding: 0;
    border: none;
}
.dropdown .action-btn.dropdown-toggle::after {
    content: none !important;
}

.status {
    padding: 8px 16px; /* Bigger badge */
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
}

.status.damaged {
    background: #d83939;
    color: #eed6d6;
}

.status.good {
    background: #a3d9a5;
    color: #2a7d2e;
}
