@import '../var';

$font-style: (
    "s-1" : $fn-primary,
    "s-2" : $fn-secondary
);

$font-size: (
    "100" : $fn-sm,
    "200" : $fn-md,
    "300" : $fn-lg,
    "400" : $fn-xl,
);

@each $key, $val in $font-size 
{
    .text-fs-#{$key} {
        font-size: $val;
    }
}



