@import '../var';

$space : (
    '1' : $spc-sm,
    '2' : $spc-md
);

@each $key, $val in $space {
    .p-inline-#{$key} {
        padding-inline: $val;
    }
    .m-inline-#{$key} {
        margin-inline: $val;
    }

    .m-left-#{$key} {
        margin-left: $val;
    }
    .m-right-#{$key} {
        margin-right: $val;
    }
}

.p-1 {
    padding: 1px;
}