@import '../var';

$space : (
    '1' : $spc-sm,
    '2' : $spc-md
);

@each $key, $val in $space {
    .p-inline-#{$key} {
        padding-inline: $val;
    }
    .m-inline-#{$key} {
        margin-inline: $val;
    }
}