.custom-navbar {
    background-color: #F8F1E6;
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    height: 10em;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.logo a {
    font-size: 50px;
    font-weight: 400;
    color: #923333;
    text-decoration: none;
    font-family: "Ovo";
}

.cashier {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cashier h3 {
    color: #923333;
    font-size: 25px;
    margin: 0;
    font-weight: 100;
    font-family: "Ovo";
}

.cashier img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
}


.nav-links {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
    font-family: 'Poppins', sans-serif;
}

.nav-links li a {
    text-decoration: none; 
    color: #923333;
    font-size: 25px;
    padding: 8px 12px;
    font-weight: 100;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #b1685c;
}

.nav-links li a.active {
    font-weight: bold;
    color: #923333;
    text-decoration: underline;
    text-decoration-thickness: 1.5px; /* thinner line — adjust as needed */
    text-underline-offset: 10px; /* more gap between text and underline */
}



#logoutMenu {
  display: none;
  position: absolute; /* so it floats nicely */
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  top: 70px; /* adjust as needed */
  right: 40px; /* adjust as needed */
  z-index: 1000;
}


